:root {
	--background: #161a1d;
	--bakcground-sec: #0b090a;
	--accent: #e5383b;
	--margin: 2vw;

	font-size: 6vw;
}

body {
	margin: 0;
	width: 100vw;
	height: 100vh;
	background: var(--background);
}

* {
	color: #ffffff;
	font-family: Arial, Helvetica, sans-serif;
}

#main {
	width: 100vw;
	height: 100vh;
	padding: var(--margin);
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
}

#heart,
#date,
#values * {
	color: var(--accent);
}

#heart {
	font-size: 12rem;
	cursor: pointer;
}

#date {
	margin-bottom: var(--margin);
}

#together-for {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	box-sizing: border-box;
	padding: var(--margin);
}

#units {
	margin-left: var(--margin);
}

#bottom {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

#settings {
	position: absolute;
	top: var(--margin);
	left: var(--margin);
	width: calc(100vw - 2 * var(--margin));
	height: calc(100vh - 2 * var(--margin));
	background: var(--background);
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
	padding: var(--margin);
	box-sizing: border-box;
}

#settings form {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;
}

#settings form input {
	width: 90%;
	margin-bottom: var(--margin);
}

#curtain {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.5);
	z-index: -1;
}

.title {
	font-size: 1.8rem;
}

.rounded {
	border-radius: var(--border-radius);
}

input {
	font-size: 1rem;
	background: var(--bakcground-sec);
	color: #ffffff;
	border-radius: var(--border-radius);
	border: none;
	box-sizing: border-box;
	padding: var(--margin);
}
